{% extends "base.html.twig" %}

{% block title %}
    Symrecipe - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenu sur Symrecipe</h1>
            <p class="lead">Ici tu trouveras des super recettes de cuisine pour le plaisir des ventres de tout le monde !</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application</p>
            
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Se connecter</a>
            
        </div>
    </div>
{% endblock %}